@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 10px;
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

/* Header */
/* Menu */
/* Footer */

/***************************************** HEADER */

.header {
  display: flex;
  flex-direction: row;

  gap: 25px;
  margin: 1rem 5rem;
}
.header__imagen {
  width: 10rem;
  height: 10rem;
}
.header__name {
  width: 80%;
}
.header__title {
  text-align: center;
  width: 100%;
  font-size: 5rem;
  margin-left: 5rem;
  padding-top: 1rem;
  color: var(--color-black);
}
.header__text {
  text-align: center;
  font-size: 1.5rem;
}

/************************************************** MENU */
.menu {
  background-color: var(--color-grey);
  height: 4rem;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu__item {
  list-style: none;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.menu__item-link {
  text-decoration: none;
  color: var(--color-black);
  transition: letter-spacing 300ms ease-in-out;
}
.menu__item-link:hover {
  color: var(--color-semiBlue);
  cursor: pointer;
  letter-spacing: 3px;
}
.menu__item-link:hover .items__html {
  top: 0;
  left: 0;
}

.items__html {
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
}
.html__item-link {
  text-decoration: none;
  padding: 15px;
  color: rgb(103, 103, 103);
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}
.html__item-link:hover {
  text-decoration: underline var(--color-semiBlue);
  background-color: var(--color-blue-Soft);
  color: var(--color-black);
}

/************************************************** FOOTER */
.footer {
  position: absolute;
  width: 100%;
  line-height: 3rem;
  bottom: 0;
  left: 0;
  background-color: var(--color-grey);
}
.footer__text {
  font-size: 1.1rem;
  text-align: center;
}
